<!DOCTYPE html>
<html lang="en">
	<head>
		<link href='http://fonts.googleapis.com/css?family=Roboto:400,300,700' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
		<link rel=stylesheet type=text/css href="static/styless.css">
	</head>
	<body>
		<div class="container">
			 {% with messages = get_flashed_messages() %}
          {% if messages %}
              {% for message in messages %}
                  <div class="alert alert-warning">
                    {{ message }}
                  </div>
              {% endfor %}
          {% endif %}
      {% endwith %}
			{% block content %}
			{% endblock %}
		</div>
	</body>
</html>